body { 
    font-family: "Roboto", sans-serif;
    background: #ffffff;
    color: #434455;
}
ul {
    list-style: none;
}
.headr-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    list-style-type: none;
    text-decoration: none;
    line-height: 1.17;
}
.header-logo-in {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    list-style-type: none;
    text-decoration: none;
    line-height: 1.17;
}
.li-s {
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
}
.li-s:hover {
    color: #404bbf;
}
.li-s:focus {
    color: #404bbf;
}
.li-p {
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
}
.li-p:hover {
    color: #404bbf;
}

.li-p:focus {
    color: #404bbf;
}
.li-c {
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
}
.li-c:hover {
    color: #404bbf;
}
.li-c:focus {
    color: #404bbf;
}
.mail {
    font-style: normal;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}
.mail:hover {
    color: #404bbf;
}
.mail:focus {
    color: #404bbf;
}
.tel {
    text-decoration: none;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}
.tel:hover {
    color: #404bbf;
}
.tel:focus {
    color: #404bbf;
}
.main-s {
    background: #2e2f42;
}
.main-h1 {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    line-height: 1.07;
    
}
.main-button {
    background: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
}
.main-button:hover {
    background: #404bbf;
    color: #ffffff;
}

.main-button:focus {
    background: #404bbf;
    color: #ffffff;
}
.h2-of {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.text-ul {
    color: #434455;
    list-style-type: none;
    text-decoration: none;
}
.t-ul-1 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
}
.t-p-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.t-ul-2 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
}
.t-p-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.t-ul-3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
}
.t-p-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.t-ul-4 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
}
.t-p-4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.h2-ot {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
}
.img {
    list-style-type: none;
    text-decoration: none;
    color: #434455;
    background-color: #f4f4fd;
}
.img-1,
.img-2,
.img-3,
.img-4 {
    background-color: white;
}
.h3-mg-1{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
}
.p-1 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    line-height: 1.5;
}
.h3-mg-2 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
}
.p-2 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    line-height: 1.5;
}
.h3-mg-3 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
}
.p-3 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    line-height: 1.5;
}
.h3-mg-4 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
}
.p-4 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    line-height: 1.5;
}
.h2-op {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
}
.ul-li-mg {
    list-style-type: none;
    text-decoration: none;
    background-color: white;
}
.op-h3-1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.op-p1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.op-h3-2{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.op-p2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.op-h3-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.op-p3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.op-h3-4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.op-p4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.op-h3-5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.op-p5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.op-h3-6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.op-p6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background: #2e2f42;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    list-style-type: none;
    text-decoration: none;
    line-height: 1.17;
    }
.footer-logo-in {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    list-style-type: none;
    text-decoration: none;
    line-height: 1.17;
}
.footer-p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    line-height: 1.5;
}